<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вадим даун</title>
</head>
<body>

<h1>Кто двинется тот гей</h1>


<form action="/main/" method="post">


    <input type="number" name="var" placeholder="Число">
    <select name="upa">
        <option  value="+">+</option>
        <option  value="-">-</option>
        <option  value="*">*</option>
        <option  value="/">/</option>
    </select>
    <input type="number" name="digit" placeholder="Число">
    <input type="submit" value="=">


</form>
<form action="/main/" method="get">


    <input type="number" name="var" placeholder="Число">
    <select name="upa">
        <option  value="+">+</option>
        <option  value="-">-</option>
        <option  value="*">*</option>
        <option  value="/">/</option>
    </select>
    <input type="number" name="digit" placeholder="Число">
    <input type="submit" value="=">


</form>

</body>
</html>