<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавление КИНА</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="fragments/header :: headerMain"></div><br>

<form th:object="${movies}" method="post">
    <input type="text" th:field="*{name}" name="name" placeholder="Название фильма">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div><br>

    <input type="number" th:field="*{year}" name="year" placeholder="Год выпуска">
    <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}" style="color: red"></div><br>

    <input type="text" th:field="*{genre}" name="genre" placeholder="Жанр">
    <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" style="color: red"></div><br>

    <input type="text" th:field="*{country}" name="country" placeholder="Страна производства">
    <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}" style="color: red"></div><br>

    <input type="number" th:field="*{budget}" name="budget" placeholder="Бюджет"><br>
    <div th:if="${#fields.hasErrors('budget')}" th:errors="*{budget}" style="color: red"></div><br>

    <select  name="sessions">
        <div th:each="element : ${sessions}">
            <option th:value="${element.id}" th:text="${element.hall}"></option>
        </div>
    </select><br>

    <input type="submit"  value="Добавить КИНО" class="btn btn-success"><br>


</form>
<a href="/movies" class="btn btn-danger">Выйти</a>
<a href="/movies/add2" class="btn btn-danger">многие ко многим</a>
<a href="/movies/onetoone" class="btn btn-danger">один к одному</a>

</body>
</html>